<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Confirm subscription</title>
    </head>
    <body>
        <h2>Confirm Subscription</h2>
        <p>Hello {{.Name}}</p>    
        <p>You have been added to these lists: </p>
        <form method="post">
           <ul>
            {{range $index, $list := .Lists}}
                <input type="hidden" name ="list" value="{{$list.Id}}"/>
                {{if eq $list.Type "public"}}
                    <li>{{$list.Name}}</li>
                {{else}}
                    <li>Private list</li>
                {{ end }}
            {{ end }}
           </ul>

           <p>
            <input type ="hidden" name ="confirm" value = "true" />
            <button type="submit" class="button">
                Confirm subscription
            </button>
           </p>
        </form>
</body>
</html>